<div>
 <%= flash[:notice] %>
</div>

<div class="container px-5">
<div class="row">

<%= render 'list', user: @user_find, book: @book %>

<div class="col-md-8 offset-md-1">
 <h2>Book detail</h2>
 <table class="table table-hover table-inverse">
  <thead>
  </thead>
  <tbody>
   <tr>
    <td>
     <%= image_tag @book_find.user.get_profile_image(100,100) %>
     <%= link_to user_path(@book_find.user_id) do %>
     <br>
     <%= @user_find.name %>
     <% end %>
    </td>
    <td>
     <%= link_to book_path(@book_find) do %>
     <%= @book_find.title %>
     <% end %>
    </td>
    <td><%= @book_find.body %></td>
    <% if @book_find.user == current_user %>
    <td><%= link_to "Edit", edit_book_path(@book_find.id) %></td>
    <td><%= link_to "Destroy", destroy_book_path(@book_find.id), method: :delete, "data-confirm" => "Are you sure？" %></td>
    <% end %>
     </tr>
   </tbody>
   </table>
  </div>

   </div>
  </div>

